/* Les Crayons */
.crayon-active {
	font-family: system-ui, sans-serif !important;
	font-size: 14px !important;
	color: #000 !important;
	font-weight: normal !important;
	line-height: initial !important;
	min-height: initial !important;
	text-align: left !important;
	background-color: #fff !important;
}
.spip-admin-float {
	font-family: system-ui, sans-serif !important;
	top: 4.5em;
	right: 3.2em;
}
#spip-debug, #spip-debug * {
	font-family: system-ui, sans-serif !important;
	font-size: 1.2rem;
}
#debug-profile {
	width: 98%;
	margin: 0 1%;
}
#debug-nav {
	width: auto;
}
.inclure_blocs > h6 > a {
	font-family: system-ui, sans-serif !important;
	color: inherit !important;
	background: transparent !important;
	margin: 0 !important;
	padding: 2px !important;
	margin-bottom: 2px !important;
	clear: both !important;
	font-size: 1rem !important;
	line-height: 1 !important;
	text-align: left !important;
	letter-spacing: normal !important;
	text-transform: none !important;
}
